name: CI Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 15

    - name: Install Dependencies
      run: npm install
      working-directory: codebase/rdicidr-0.1.0

    - name: Linter (ESLint)
      run: npm run lint
      working-directory: codebase/rdicidr-0.1.0

    - name: Formatter install (Prettier)
      run: npm install -g prettier
      working-directory: codebase/rdicidr-0.1.0

    - name: run Pretttier
      run: npm run prettier
      working-directory: codebase/rdicidr-0.1.0
      continue-on-error: true

    - name: run Pretttier 2
      run: prettier . --write
      continue-on-error: true

    - name: Test (Jest)
      env:
        CI: true
      run: npm run test
      working-directory: codebase/rdicidr-0.1.0

    - name: Build
      run: npm run build
      working-directory: codebase/rdicidr-0.1.0
